* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: rgb(244, 244, 244);
  font-family: Lato, sans-serif;
  margin-top: 0;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: Century,Arial,Helvetica,sans-serif;
  text-align: right;
  margin: 32.5px 20px;
}

h2 {
  color: #294A98;
  margin: 10px 10px;
  align-self: center;
}

.nombre-finca-formulario {
  display: flex;
  justify-content: center;
  margin: 25px 20px;
}

.contenedor-cabecera {
  display: flex;
  flex-wrap: wrap;
  background-color: #294A98;
}

/* Logo de videofincas */

.videofincas-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
}

.videofincas-logo {
  width: 371px;
  height: 125px;
  align-items: left;
  justify-content: left;
}

.titulo-principal {
  width: 1300px;
  height: 125px;
  align-items: right;
  justify-content: right;
}
